<header>

    <div class="container">

        <div class="admin-info left">
            <div class="info">
                <span>MINISTERE DES ENSEIGNEMENTS SECONDAIRE</span><br>
                <span style="font-size: 15px;margin: 5px;">
                    <strong>INSTITUT PRIVEE LAIC MBEUKAM </strong></span>
                <br>
                <span>Discipline - Suivi - Succès</span><br>
                <span>Collège d'Enseignement Sécondaire Général</span><br>
                <span>B P : Tel ( 237 ) 677 61 41 52</span>
            </div>
        </div>

        <div class="logo">
            <img class="img-logo" src="http://localhost/host_secondaire/public/images/app_image/logo_ecole.png"/>
        </div>

        <div class="class-info">
            <div style="width: 250px;height: 25px;text-align: center;padding-top: 10px;
            font-size: 13px;border: 1px solid black;">
                BULLETIN DE NOTE
            </div>
            <br>
            <span>ANNEE SCOLAIRE :  2020 - 2021</span><br>
            <span>EFFECTIFS : </span><br>
        </div>

    </div>

</header>