<table class="table-disicipline" style="width: 33.5%;position: fixed;left: 3.8%;top: 73%;">
    <tbody>
    <tr>
        <td style="background-color: rgb(122, 122, 136);color: white;font-weight: bold;" colspan="2">
            APPRECIATION DE LA DISCIPLINE
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px;">Abscences non justifiées</td>
        <td style="height: 17px;"></td>
    </tr>
    <tr>
        <td style="font-size: 10px;">Abscences justifiées</td>
        <td style="height: 17px"></td>
    </tr>
    <tr>
        <td style="font-size: 10px;">Total des abscences</td>
        <td style="height: 17px;font-weight: bold;"></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 50%;font-weight: bold;color: red; height: 20px;">
            
        </td>
    </tr>
    <tr>
        <td colspan="2">Signature du parent / tuteur</td>
    </tr>
    <tr>
        <td style="height: 88px;" colspan="2"></td>
    </tr>
    </tbody>
</table>