<tr style="color: white;background-color: gray;">
    <td style="font-size: 11px;">{{ label }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ value.totalCoef }}</td>
    <td>{{ value.totalPoint }} </td>
    <td class="desc"></td>
    <td class="desc"></td>
    <td>{{ value.moy }} / 20</td>
</tr>