<table class="table-disicipline" style="width: 40%;position: fixed;right: 27.3%;top: 73%;">
    <tbody>
    <tr>
        <td style="background-color: rgb(122, 122, 136);color: white;font-weight: bold;" colspan="2">APPRECIATION DU TRAVAIL</td>
    </tr>
    <tr>
        <td>MOYENNE / RANG</td>
        <td style="font-size: 17px;color: #000000;font-weight: bold"></td>
    </tr>
    <tr>
        <td>Distinction</td>
        <td style="font-size: 12px;color: #000000;font-weight: bold"></td>
    </tr>
    <tr>
        <td>Appréciation</td>
        <td style="font-size: 10px;">  </td>
    </tr>
    <tr>
        <td>% réussite :  </td>
        <td>Moy général :  </td>
    </tr>
    <tr>
        <td>Moy Premier : </td>
        <td>Moy Dernier : </td>
    </tr>
    <tr>
        <td colspan="2">Signature du professeur principale</td>
    </tr>
    <tr>
        <td colspan="2" style="height: 72px;"></td>
    </tr>
    </tbody>
</table>